body{
  margin: 0;
  padding: 0;
  background-color: gainsboro;
}
.navbar{
  background-color: black;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  margin-top: 5px;
}
.row-produk{
  background-color: white;
  margin: 0;
  padding: 5px;
  padding-top: 16px;
  border-radius: 6px;
}
.figure-caption{
  margin: 0;
}
.garis{
  border-bottom: 1px solid;
}
.btn{
  margin-top: 40px;
  background-color: black;
  width:200px;
}
.row-size{
  border: 1px solid;
  background-color: black;
}
